%nav.navbar.sticky-top.navbar-dark.bg-warning
  %a.navbar-brand 缶交大使
  %form.form-inline
  - if current_user
    = form_with(url: search_tweets_path, local: true, method: :get, class: "form-inline") do |f|
      = f.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2"
      = f.submit "検索", class: "btn btn-dark my-2 my-sm-0"
      =link_to "新規投稿", "/tweets/new", {method: "get",class: "btn btn-primary"}
  - else
    = form_with(url: search_tweets_path, local: true, method: :get, class: "form-inline") do |f|
      = f.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2"
      = f.submit "検索", class: "btn btn-dark my-2 my-sm-0"